<div class="login-container">
    <img src="assets/film.png" alt="" height="500vh">
    <div class='content-container'>
        <p class="logo">Potten Potatoes</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam, rem. Eum eligendi ratione impedit. Necessitatibus eum,
            vel explicabo nihil sint corrupti iusto facilis. Aut minima sunt,
            facere quo nesciunt dolor?</p>

            <div class="login-form">
                <div class="form-group">
                    <label for="">User Name</label>
                    <input type="text" class="form-control" [(ngModel)]="userName" required>
                    <i class="error-msg">{{errorMsg1}}</i>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="userPass" required>
                    <i class="error-msg">{{errorMsg2}}</i>
                </div>
                <div class="form-group">
                     <button class="btn btn-primary form-control" (click)="login()"> Login </button>                    
                </div>
            </div>
    </div>
   
</div>